# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

**/.vector_cache
**/backup
**/config_backup
**/data
**/logs
**/results
**/saved_models
**/templates

venv/

profile.txt
accelerate.sh
job.sh
